.theme-btn {
  width: 70px;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  background: linear-gradient(135deg, var(--accent), var(--accent-2));
  display: flex;
  align-items: center;
  padding: 4px;
  transition: 0.4s;
  position: relative;
}

.toggle-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #222;
}

.theme-btn.dark .toggle-circle {
  transform: translateX(0);
}

.theme-btn.light .toggle-circle {
  transform: translateX(34px);
}

.theme-btn:hover {
  transform: scale(1.05);
}